<div class="jumbotron">
    <h2>
        <%= @cache.code %> <%= @cache.name %>
        <small><%= type(@cache) %></small>
    </h2>
    <%= if @cache.lat && @cache.lon do %>
        <p>
            <%= coordinate(@cache.lat, :lat, :dec_min) %>
            <br/>
            <%= coordinate(@cache.lon, :lon, :dec_min) %>
        </p>
    <% else %>
        <p class="text-muted">
            coordinates not specified
        </p>
    <% end %>
</div>
