<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title><%= title() %></title>
        <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    </head>

    <body>
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="<%= landing_path(@conn, :index) %>">Cacher</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li><%= link "Caches", to: cache_path(@conn, :index) %></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <%= if logged_in?(@conn) do %>
                            <li class="dropdown">
                                <a href="#" class="dropdown_toggle" data-toggle="dropdown" role="button">
                                    <%= logged_in_user(@conn).name %>&nbsp;<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><%= link "Log out", to: session_path(@conn, :logout), method: :delete %></li>
                                </ul>
                            </li>
                        <% else %>
                            <li><%= link "Create new account", to: registration_path(@conn, :registration) %></li>
                            <li><%= link("Log in", to: session_path(@conn, :login)) %></li>
                        <% end %>
                    </ul>
                </div>
            </nav>

            <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
            <p class="alert alert-warning" role="alert"><%= get_flash(@conn, :warning) %></p>
            <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

            <main role="main">
                <%= render @view_module, @view_template, assigns %>
            </main>

        </div> <!-- /container -->
        <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    </body>
</html>
